<ScriptureText>
  <Versification>4</Versification>
  <Name>en_ulb</Name>
  <Encoding>65001</Encoding>
  <Language>English</Language>
  <DefaultFont>Arial</DefaultFont>
  <DefaultFontSize>10</DefaultFontSize>
  <FileNamePostPart>.usfm</FileNamePostPart>
  <FileNameBookNameForm>41-MAT</FileNameBookNameForm>
  <StyleSheet>usfm.sty</StyleSheet>
  <TranslationInfo>Standard::</TranslationInfo>
  <FullName>Unlocked Literal Bible (English)</FullName>
  <BiblicalTermsListSetting>Major::BiblicalTerms.xml</BiblicalTermsListSetting>
  <Editable>T</Editable>
  <NeedsEnglishLanguageFix>No</NeedsEnglishLanguageFix>
  <NeedsPortugueseLanguageFix>No</NeedsPortugueseLanguageFix>
  <InitialImportBooksDirectory>E:\My Paratext Projects\en_ulb</InitialImportBooksDirectory>
  <Guid>910483afeb2d551260b492278a56aa4d2c4b9b15</Guid>
  <LanguageIsoCode>en:::</LanguageIsoCode>
  <TextEntryFontSizeAdjustment>0</TextEntryFontSizeAdjustment>
  <ValidCharacters></ValidCharacters>
  <CharacterAdvancedView>True</CharacterAdvancedView>
  <ValidPunctuation>- ‌ ‍ ._ / ... _©_ _&amp;_ _*_ _)_ ।_ _( )_ _(_ _†_ ’ ?_ !_ ,_ :_ ;_ _“ ”_ _‘ ’_ _–_ _-</ValidPunctuation>
  <Quotes>“ ”</Quotes>
  <InnerQuotes>‘ ’</InnerQuotes>
  <InnerInnerQuotes>“ ”</InnerInnerQuotes>
  <ContinueQuotes>Yes</ContinueQuotes>
  <VerboseQuotes>No</VerboseQuotes>
  <ContinueAt>p</ContinueAt>
  <ContinueInnerQuotes>Yes</ContinueInnerQuotes>
  <AdvancedView>False</AdvancedView>
  <CrossReferenceSettingsHaveBeenReviewed>T</CrossReferenceSettingsHaveBeenReviewed>
  <RangeIndicator>-</RangeIndicator>
  <SequenceIndicator>, </SequenceIndicator>
  <ChapterVerseSeparator>:</ChapterVerseSeparator>
  <ChapterRangeSeparator>–</ChapterRangeSeparator>
  <BookSequenceSeparator>; </BookSequenceSeparator>
  <ChapterNumberSeparator>; </ChapterNumberSeparator>
  <BookSourceForMarkerXt>Abbreviation</BookSourceForMarkerXt>
  <BookSourceForMarkerR>ShortName</BookSourceForMarkerR>
  <Pairs>(/) [/] {/}</Pairs>
  <ClosedByParagraph>No</ClosedByParagraph>
  <PoeticStyles>ib iq iq1 iq2 iq3 q q1 q2 q3 q4 qc qr qs qa qac qm qm1 qm2 qm3 b</PoeticStyles>
  <IntroductionOutlineStyles>io io1 io2 io3 io4</IntroductionOutlineStyles>
  <NumberDecimalPoint>.</NumberDecimalPoint>
  <NumberThousandsSeparator>,</NumberThousandsSeparator>
  <NumberOrdinals>st nd rd th</NumberOrdinals>
  <NumberInitialPunctuation>-+"({&lt;[$</NumberInitialPunctuation>
  <NumberFinalPunctuation>)}"&gt;.!?:],;।</NumberFinalPunctuation>
  <NumberMedialPunctuation>-/</NumberMedialPunctuation>
  <NumberOrdinalType>suffix</NumberOrdinalType>
  <NumberSettingsHaveBeenReviewed>T</NumberSettingsHaveBeenReviewed>
  <DateArchived>2014-07-28T14:34:25.6546534+00:00</DateArchived>
  <FileNamePrePart />
  <AssociatedLexicalProject />
  <Copyright />
  <AllowReadAccess>F</AllowReadAccess>
  <AllowSharingWithSLDR>F</AllowSharingWithSLDR>
  <EncodingConverter />
  <FontFeatures />
  <HtmlLanguage />
  <BooksPresent>000000000000000000000000000000000000000111111111111111111111111111000000000000000000000000001110110100000010110000000000000</BooksPresent>
  <MinParatextVersion>8.0.63.1</MinParatextVersion>
  <Naming PrePart="" PostPart=".usfm" BookNameForm="41-MAT" />
</ScriptureText>