# omit macOS meta
.DS_Store

# omit IDE data
.idea/

# omit notebook data
.ipynb_checkpoints/

# omit python cache
__pycache__

# omit third-party libraries, tools, drivers, etc.
vendors/

# omit credentials file(s)
credentials.py
