# omit macOS meta
.DS_Store

# omit IDE data
.idea/
.vscode/
.env

# omit R-related
*.Rdata
*.html
!data/*.html

# omit notebook data
.ipynb_checkpoints/

# omit python cache
__pycache__
.mypy_cache/

# omit third-party libraries, tools, drivers, etc.
vendors/

# omit credentials file(s)
credentials.py

# omit egg-info
*.egg-info/
*.model
nlp/checkdata/Recent/alphabet.py
nlp/checkdata/Recent/alphabet_nltk.py
nlp/checkdata/Recent/alphabetSimilarity.py
nlp/checkdata/Recent/iso with at least one missing folder.txt
nlp/checkdata/Recent/iso-to-folder.txt
tests/**/temp*

# omit clowder config files
*.clowder
*secret*