<ScriptureText>
  <StyleSheet>usfm.sty</StyleSheet>
  <Versification>1</Versification>
  <LanguageIsoCode>qaa:::</LanguageIsoCode>
  <Language>Unlisted Language</Language>
  <MinParatextVersion>8.0.100.76</MinParatextVersion>
  <FullName>Reference</FullName>
  <Encoding>65001</Encoding>
  <Editable>T</Editable>
  <Copyright />
  <NormalizationForm>NFC</NormalizationForm>
  <Name>Ref</Name>
  <Guid>9d76675a159bbbfc465bfff5689642f089c5a4eb</Guid>
  <AssociatedLexicalProject />
  <FileNameBookNameForm>41MAT</FileNameBookNameForm>
  <FileNamePrePart />
  <FileNamePostPart>Ref.SFM</FileNamePostPart>
  <BiblicalTermsListSetting>Major::BiblicalTerms.xml</BiblicalTermsListSetting>
  <MatchBasedOnStems>F</MatchBasedOnStems>
  <AllowReadAccess>F</AllowReadAccess>
  <AllowSharingWithSLDR>F</AllowSharingWithSLDR>
  <Visibility>Public</Visibility>
  <TranslationInfo>Standard::</TranslationInfo>
  <EncodingConverter />
  <UsfmVersion>3</UsfmVersion>
  <ParallelPassagesBooks>000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</ParallelPassagesBooks>
  <BooksPresent>111111111111111111111111111111111111111111111111111111111111111111111111111111111111110000000000000000010000000000011000000</BooksPresent>
  <Naming PrePart="" PostPart="Ref.SFM" BookNameForm="41MAT" />
</ScriptureText>